@model Biblioteca.Models.Genero

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-1 col-md-2 col-lg-2"></div>
    <div class="col-10 col-md-8 col-lg-8">
        <div id="divLivro" class="bg-black text-light m-lg-5 p-5">
            <h1 class="text-center mb-3">Editar Gênero</h1>
            <form asp-action="Edit" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="GeneroId" />

                <div class="row gap-3 mb-3">
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row gap-1 mb-3">
                    <div class="col">
                        <div class="form-group d-flex justify-content-between pt-4">
                            <button asp-action="Index" class="btn btn-sm btn-outline-light fs-6" style="background-color:#52130C"><i class="bi bi-arrow-left"></i> Voltar</button>
                            <button type="submit" id="btnSalvar" class="btn btn-sm btn-outline-light fs-6  " style="background-color:#52130C">
                                <i class="bi bi-floppy"></i> Salvar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
