@model IEnumerable<Biblioteca.Models.Genero>

@{
    ViewData["Title"] = "Gêneros";
}

<div id="listaGeneros" class="container tabela-reservas text-dark p-5 my-5 mt-6 d-flex flex-column justify-content-center" style="min-height: 60vh;">
    <h1 class="text-center text-dark mb-3">Gêneros</h1>

    <div class="row align-items-start gap-3 mb-4">
        <!-- Botão Adicionar -->
        <div class="col-auto d-flex align-items-stretch">
            <a asp-action="Create" class="btn btn-outline-light px-4 d-flex align-items-center" style="background-color:#52130C; height: 54px;">
                <i class="bi bi-plus-circle"></i> Adicionar
            </a>
        </div>

        <!-- Campo de Busca -->
        <div id="divLocalizarReserva" class="col">
            <form asp-action="Index" method="get">
                <div class="input-group">
                    <input type="text" name="searchTerm" value="@Context.Request.Query["searchTerm"]" class="form-control" placeholder="Buscar reserva..." style="height: 54px;" />
                    <button type="submit" class="btn btn-outline-light" style="background-color:#52130C">
                        <i class="bi bi-search"></i> Buscar
                    </button>
                </div>
            </form>
        </div>
    </div>

    <table class="table tabela-reservas text-dark table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th class="text-end">Ações</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td class="text-end">
                        <a asp-action="Edit" asp-route-id="@item.GeneroId" class="text-light text-decoration-none me-2">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.GeneroId" class="text-light text-decoration-none">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
