@model IEnumerable<Biblioteca.Models.Avaliacao>

@{
    ViewData["Title"] = "Index";
}

<div id="listaAvaliacoes" class="container tabela-reservas text-dark p-5 my-5 mt-6 d-flex flex-column justify-content-center" style="border-radius:10px;">
    <h1 class="text-center text-dark mb-3">Minhas Avaliações</h1>

    <table class="table tabela-reservas text-dark table-striped">
        <thead>
            <tr>
                <th>Livro</th>
                <th>Avaliação</th>
                <th>Comentário</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Livro?.Titulo</td>
                    <td>
                        @for (int i = 1; i <= 5; i++)
                        {
                            if (i <= item.Nota)
                            {
                                <span style="color: gold; font-size: 1.5em;">&#9733;</span>
                            }
                            else
                            {
                                <span style="color: #444; font-size: 1.5em;">&#9733;</span>
                            }
                        }
                    </td>
                    <td>@item.Comentario</td>
                    <td>
                        @if (User.IsInRole("Aluno") && User.Identity.Name == item.Usuario?.IdentityUser?.Email)
                        {
                            <a asp-action="Edit" asp-route-id="@item.AvaliacaoId" class="text-dark text-decoration-none me-2">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.AvaliacaoId" class="text-dark text-decoration-none me-2">
                                <i class="bi bi-trash3"></i>
                            </a>
                        }
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>
